.main-container {
    width: 661px;
    height: 763px;
    background-color: #C4C4C4;
}

.input {
    width: 500px;
    height: 61px;
    margin: 62px 80px 0 74px; 
    font-size: 48px;
    padding-left: 13px;
    padding-top: 5px;
    border-width: 0;
}

.delete-button {

}

